.note {
    background-color: rgb(50, 205, 159);
    border-radius: 10px;
    padding: 1em;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    color: rgb(19, 18, 18);
    
}

.span {
    overflow: auto;
}

.noteFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteIcon {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    transition: 0.4s;
}

.deleteIcon:hover {
    color: red;
    cursor: pointer;
}